{% extends 'stratbase.html' %}


{% block formu %}
{% endblock %}

{% block refine %}
<p> Backtesting parameters: </p>
<br/><br/>
<label for="timeframe">Select a time frame:</label>
<select id="timeframe" name="timeframe">
    {% for tf in YF_INTERVALS %}
    {% if tf == "1h" %}
    <option value="{{ tf }}" selected="yes">{{ tf }}</option>
    {% else %}
    <option value="{{ tf }}">{{ tf }}</option>
    {% endif %}
    {% endfor %}
</select>
<br/><br/>
<label for="period">Select a backtest period:</label>
<select id="period" name="period">
    {% for period in YF_PERIODS %}
    {% if period == "3mo" %}
    <option value="{{ period }}" selected="yes">{{ period }}</option>
    {% else %}
    <option value="{{ period }}">{{ period }}</option>
    {% endif %}
    {% endfor %}
</select> 
<br/><br/>
<label for="init_cash">Select an initial capital:</label>
<input name="init_cash" id="init_cash" type="number" value="10000">
<br/><br/>
<p>Do you want to restrict the trading hours?</p>
<input type="radio" name="restrict_hours" id="restrict_hours" value="no" checked="checked">
<label for="no">No</label>
<input type="radio" name="restrict_hours" id="restrict_hours" value="yes">
<label for="yes">Yes</label>
<br><br>
<label for="cth_start">Start:</label>
<input name="cth_start" id="cth_start" type="time" value="08:00">
<label for="cth_start">End:</label>
<input name="cth_end" id="cth_end" type="time" value="18:00">
<br/><br/>
{% endblock %}