<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI Review Analysis</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: 18px;
            color: #111;
            padding: 0 0 1em 0;
        }
        .debut {
            width: 50%;
            margin: auto;
            border: 5px solid black;
            text-align: center;
        }
        #player {
		position: sticky;
		top: 20px;
		float: right;
	}
    </style>
  </head>
  <body>

<h1 align="center">David Trader</h1>
<br/><br/><br/><br/>
<div class="debut">
<form method="post">
    <br/><br/><br/>
    <label for="user">Login ID:</label>
    <input name="user" id="user" required>
    <br/><br/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br/><br/>
    <input type="submit" value="Log In">
    <br/><br/>
</form>
</div>
<br/><br/><br/>
{% block content %}
<div name="messages">
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<br/><br/>
</div>
{% endblock %}
</body>
</html>